.button {
    box-sizing: content-box;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 0 auto;
    transition: 0.2s;

    svg {
        vertical-align: middle;
    }
}

.button>a {
    display: inline-block;
    padding: 20px 25px;
}

@media (hover: hover) {
    .button:hover {
        background: var(--static-white);
        color: var(--dark);
    }
}