main {
  height: 80vh;
}

.error-msg {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 2px solid black;
  padding: 20px;
  background: white;
  transition: 1s;
  transform: translateX(200%);
}

.active-msg {
  transform: translateX(0);
}
