body {
  height: 100vh;
  overflow: hidden;

  & * {
    text-align: center;
    margin: unset;
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & div {
    border: 1px solid black;
  }
}
