:root {
  --main-bg-color: #faf0ca;
  --button-color: #453823;
  --secondary-bg-color: #587199;
  --third-bg-color: #50555c;
  --box-bg-color-light: #fff;
  --border-color-light: black;
  --border-thick: 3px;
  --border-thin: 1px;
}

* {
  text-align: center;
  margin: unset;
}

body {
  height: 100vh;
  background: var(--main-bg-color);
}

div,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.box {
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--border-color-light);
  border: var(--border-thick) solid var(--border-color-light);
  display: grid;
  grid: repeat(5, 1fr) / repeat(5, 1fr);
  anchor-name: --box;
  max-width: utopia.clamp(300, 560);
}

.boxItem {
  width: 100%;
  height: 100%;
  background: var(--box-bg-color-light);
  border: var(--border-thin) solid var(--border-color-light);

  &:nth-of-type(5n) {
    border-right: var(--border-thick) solid var(--border-color-light);
  }
}

.bottomBorder {
  border-bottom: var(--border-thick) solid var(--border-color-light);
}

.vHints {
  display: grid;
  width: anchor-size(100%);
  height: max-content;
  position: fixed;
  position-anchor: --box;
  position-area: block-start;
  border: var(--border-thick) solid var(--border-color-light);
  border-top: none;

  .vhItem {
    flex-direction: column;
    border-right: var(--border-thin) solid var(--border-color-light);
    border-left: var(--border-thin) solid var(--border-color-light);
    width: 100%;
    height: 100%;
    padding: 2px;

    &:nth-of-type(5n) {
      border-right: var(--border-thick) solid var(--border-color-light);
    }
  }
}
.hHints {
  display: grid;
  width: max-content;
  position: fixed;
  position-anchor: --box;
  height: anchor-size(100%);
  position-area: left;
  border: var(--border-thick) solid var(--border-color-light);
  border-left: none;

  .hhItem {
    border-bottom: var(--border-thin) solid var(--border-color-light);
    border-top: var(--border-thin) solid var(--border-color-light);
    width: 100%;
    height: 100%;
    padding: 2px;
    line-height: 10px;

    &:nth-of-type(5n) {
      border-bottom: var(--border-thick) solid var(--border-color-light);
    }
  }
}

.vhItem,
.hhItem {
  justify-content: flex-end;
  font-size: utopia.clamp(14, 19);
}

.leftPanel {
  position-anchor: --box;
  position-area: right;
  height: anchor-size(100%);
  width: fit-content;
  position: absolute;
  flex-direction: column;
}

.checked {
  background: black;
}

.ignored {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background: black;
    width: 142%;
    height: 2px;
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 142%;
    height: 2px;
    transform: rotate(-45deg);
  }
}

.riddleSelect {
  position: fixed;
  right: -100%;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: var(--main-bg-color);
}

.riddleGrid {
  display: grid;
}

.diffContainer {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.shadow {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, 0.5);
}

.messageBox {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 50%;
  background: var(--main-bg-color);
  border-radius: 25px;
}

.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.hidden {
  display: none;
}

.inactive {
  pointer-events: none;
}

.botPanel {
  position: fixed;
  position-anchor: --box;
  width: anchor-size(100%);
  position-area: center bottom;
}
