:root {
  --main-bg-color: #2d3644;
  --secondary-bg-color: #587199;
  --third-bg-color: #50555c;
  --first-item-color: #fff;
}

@custom-media --breakpoint-1 (width <=550px);

* {
  text-align: center;
}

body {
  height: 100vh;
  background: var(--main-bg-color);
}

header,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: var(--main-bg-color);
  height: 15vh;
  gap: 5px;

  & > * {
    max-width: 300px;
    width: 100%;
    height: 28%;
    border-radius: 20px;
    cursor: pointer;
  }

  @media (--breakpoint-1) {
    flex-direction: column;
  }
}

.roundPanel {
  padding: 10px;
  background-color: var(--third-bg-color);
  color: var(--first-item-color);
}

.result {
  background: var(--secondary-bg-color);
  height: 20vh;
}

.virtualKB {
  background: var(--main-bg-color);
  height: 100%;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  margin: 0 auto;
  padding: 10px;
}

.item {
  height: utopia.clamp(50, 130);
  width: utopia.clamp(50, 130);
  border: 2px solid var(--first-item-color);
  border-radius: 4px;
  color: var(--first-item-color);
  font-size: utopia.clamp(20, 80);
  animation: itemReactionGood 0.5s linear 0.1s infinite paused;
}

.itemResult {
  height: utopia.clamp(50, 130);
  width: utopia.clamp(50, 130);
  border: 2px solid var(--first-item-color);
  border-radius: 4px;
  color: var(--first-item-color);
  font-size: utopia.clamp(20, 80);
  animation: itemReactionGood 0.5s linear 0.1s infinite paused;
}

.inactive {
  pointer-events: none;
}

@keyframes itemReactionGood {
  20% {
    background: rgba(0, 128, 0, 1);
  }

  100% {
    background: rgba(0, 128, 0, 0);
  }
}

@keyframes itemReactionBad {
  20% {
    background: rgba(128, 0, 0, 1);
  }

  100% {
    background: rgba(128, 0, 0, 0);
  }
}
