.container {
    width: 100%;
    background: center / cover url('../../../img/bg-snow.png');
    color: var(--static-white);
    border-radius: inherit;
    padding: 58px 0px;
}

.containerGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    border-radius: inherit;
    gap: 13px;
}

.panelContainer {
    margin-top: 5px;
    border-radius: inherit;
    display: flex;
    gap: 12px;
}

.fancyText {
    composes: fancyText from global;
}